*{
    font-family: "Poppins", sans-serif
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    min-height: 100vh;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    background-color: hotpink;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  main {
    padding-top: 0px auto;
  }
  
  section {
    height: 215dvh;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  h2, p {
    text-align: center;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
  }

  th {
    background-color: turquoise;
    border: 2px solid black;
    vertical-align: middle;
  }

  td {
    border: 2px solid black;
  }

  tr:hover {
    background-color: #bfcdcc;
  }

  select {
    padding: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f1f1f1;
    font-size: 14px;
    cursor: pointer;
    max-height: 200px;
    overflow-y: auto;
    text-indent: 3px;
  }
  
  select:hover {
    background-color: #eaeaea;
  }
  
  select option {
    background-color: #f1f1f1;
    color: black;
    text-align: left;
  }

  option:hover {
    color: hotpink;
  }

  footer a:link {
    color: blue;
  }
  
  footer a:visited {
    color: purple;
  }
  
  footer a:hover {
    color: red;
  }
  
  footer a:active {
    color: green;
  }
  
  footer {
    background-color: hotpink;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  /* Laptop */
  @media (max-width: 992px) {
    html {
      font-size: 75%;
    }
  }
  
  /* Tablet */
  @media (max-width: 768px) {
    html {
      font-size: 65%;
    }
    .mynavbar .navlink {
      font-size: 2rem;
      text-align: center;
    }
    .sticky-top {
      overflow: hidden;
    }
  }
  
  /* Handphone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  table {
    width: 150%;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .simply-section {
    padding: 45px;
    margin: 3px;
  }
  header {
    margin-bottom: 150px;
  }
  footer {
    margin-top: 150px;
  }
    
  .simply-section {
      padding: 45px;
      margin: 3px;
    }
  }