body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    background-color: rgb(191, 96, 200);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

  }
  
  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    margin: 20px auto;
}

section {
    height: 50dvh;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.daftar-button {
    background-color: rgb(109, 187, 255);
    color: white;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    margin: 10px;
    padding-right: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .masuk-button {
    background-color: rgb(107, 220, 107);
    color: white;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.rounded-circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.container {
    display: flex;
  }

  .logo {
    flex: 0 0 auto;
    margin-right: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .content h3 {
    color:rgb(119, 43, 226);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: -20px;
    font-style: normal;
  }

  .content h1 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-bottom: -10px;
    font-style: normal;
  }

  .btn {
    margin-left: 70px;
  }

  .content p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

footer {
    background-color: rgb(191, 96, 200);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}